//WAP to tell what grade the student has got

 #include<stdio.h>
 #include<conio.h>

 int main()
 {
   int marks;
   clrscr();
   printf("\nEnter the Marks:=  ");
   scanf("%d", &marks);

if (marks>=85 && marks<=100)
	       printf("\n\n The Grade is A");
else if (marks>=70 && marks<=84)
	       printf("\n\n The Grade is B");
else if (marks>=55 && marks<=69)
	       printf("\n\n The Grade is C");
else if (marks>=40 && marks<=54)
		printf("\n\n The Grade is D");
else
		printf("\n\n The Grade is F \n You have FAILED!!");

getch();
return 0;
}
